@import "tailwindcss";

@theme {
  --color-surface: #1C1A1F;
  --color-surface-hover: #242229;
  --color-bg: #141216;
  --color-text-primary: #F2EFEA;
  --color-text-secondary: #9B9499;
  --color-accent: #E8A33D;
}


html, body {
    background-color: var(--color-bg); /* alebo aká premenná to u teba je */
    min-height: 100%;
}

body {
    @apply bg-bg min-h-screen;
}

@layer components {
    .btn-primary {
        @apply cursor-pointer rounded-lg border-2 border-accent bg-accent px-5 py-2.5 font-semibold text-bg text-lg
               transition-colors hover:bg-surface-hover hover:text-text-primary
               focus-visible:outline-2 focus-visible:outline-accent focus-visible:outline-offset-2;
    }
}